* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    height: 100vh;
    background-color: #f9f6fb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-app {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 550px;
}

.todo-app h1 {
    color: #746832;
    margin-bottom: 20px;
    text-align: center;
}

.agregar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
    padding-left: 20px;
    border-radius: 35px;
    border: solid 2px #f5c052;
    margin-bottom: 20px;
}

.agregar input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    
}

.boton-agregar {
    outline: none;
    border: none;
    padding: 10px 11px;
    background-color: #f5c052;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 500;
}

.boton-agregar:hover {
    background-color: rgb(240, 217, 141);
}


#lista {
    min-height: 400px;
    max-height: 400px;
    padding: 15px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    border: solid 2px #f5c052;
    border-radius: 40px;
    background-color: #f1f1f1;
}

.todo {
    display: flex;
    align-items: center;
    margin-left: 15px;
    justify-content: space-between;
}


.todo span {
    font-size: 17px;
    cursor: pointer;
}

.hecho span {
    text-decoration: line-through;
    color: #746832;
}

input[type="checkbox"] {
    appearance: none;
    min-width: 15px;
    min-height: 15px;
    background-color: #fffdf8;
    border: solid 2px #f5c052;
    border-radius: 4px;
    margin-right: 15px;
}

input:checked {
    font-size: 11px;
    display: block;
    background-color: #f5c052;
}

.boton-borrar {
    outline: none;
    border: none;
    padding: 10px 16px;
    background-color: #c0c0c0;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transform: scale(0.5);
}

.boton-borrar:hover {
    background-color: #5b5b5b;
}